---
import Layout from '../layouts/Layout.astro';
import SearchResults from '../components/SearchResults';

const seo = {
  title: 'Şanlıurfa Arama - Yerler Keşfet',
  description: 'Şanlıurfa\'da yerler ara, filtrele, incele',
};
---

<Layout seo={seo}>
  <div class="bg-white dark:bg-gray-900 min-h-screen pt-24 pb-12">
    <SearchResults client:load />
  </div>
</Layout>
