---
import Layout from "../../layouts/Layout.astro";
import TrendingPlaces from "../../components/TrendingPlaces";
---

<Layout title="Trend Mekanlar - Şanlıurfa.com">
  <div class="max-w-6xl mx-auto px-4 py-8">
    <TrendingPlaces client:load />
  </div>
</Layout>
